### Importando dependências

In [159]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

### Definindo locais dos arquivos de treino e teste

In [160]:
TRAIN_FILE = "../data/train.csv"
TEST_FILE = "../data/test.csv"

### Carregando conjunto de treino

In [191]:
df = pd.read_csv(TRAIN_FILE, index_col=0)
df = df.fillna(0)

### Fazendo testes inúteis

In [16]:
dados_MT = df[df.columns[[df.columns.get_loc("NU_INSCRICAO"), df.columns.get_loc("TX_RESPOSTAS_MT"), df.columns.get_loc("TX_GABARITO_MT"), df.columns.get_loc("NU_NOTA_MT")]]] 
resp_MT = df[df.columns[[df.columns.get_loc("NU_INSCRICAO"), df.columns.get_loc("TX_RESPOSTAS_MT")]]]
gaba_MT = df[df.columns[[df.columns.get_loc("NU_INSCRICAO"), df.columns.get_loc("TX_GABARITO_MT")]]]

### Função para conversão de dados para categorias

In [165]:
def convert_category(df, columns):
    c = columns
    c.remove("NU_IDADE")
    c = [c for c in c if not "NOTA" in c]
    index = [i for i in range(df.shape[0])]
    df["INDEX"] = index

    df[c] = df[c].astype('category')

    cat_columns = df.select_dtypes(['category']).columns

    df[cat_columns] = df[cat_columns].apply(lambda x: x.cat.codes)
    return df

### Carregando arquivo de teste

In [201]:
test_df = pd.read_csv(TEST_FILE)
test_df = test_df.fillna(0)

### Extração de atributos

In [193]:
columns = test_df.columns.tolist()
useless = ['CO_UF_RESIDENCIA', "NU_INSCRICAO"]
columns = [c for c in columns if not c in useless]

dados = df[columns]

dados = convert_category(dados, columns)

/home/vinicios/miniconda3/envs/tweet-collector/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/vinicios/miniconda3/envs/tweet-collector/lib/python3.7/site-packages/pandas/core/frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ENSINO,IN_TREINEIRO,...,NU_NOTA_REDACAO,Q001,Q002,Q006,Q024,Q025,Q026,Q027,Q047,INDEX
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4582,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4583,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4584,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4585,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4586,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

### Carregando dataset para treinar o regressor linear

In [ ]:
X = dados.values
y = df['NU_NOTA_MT'].values

In [194]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

### Instanciando regressor linear do SKLearn

In [195]:
regr = LinearRegression() # cria o modelo
regr.fit(X_train, y_train) # treina o modelo

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [196]:
r2_train = regr.score(X_train, y_train)
r2_test = regr.score(X_test, y_test)
print('R2 no set de treino: %.2f' % r2_train)
print('R2 no set de teste: %.2f' % r2_test)

R2 no set de treino: 0.92
R2 no set de teste: 0.92

### Preparando dados de teste para realizar predição

In [202]:
columns = test_df.columns.tolist()
useless = ['CO_UF_RESIDENCIA', "NU_INSCRICAO"]
columns = [c for c in columns if not c in useless]

pred_df = test_df[columns]

pred_df = convert_category(pred_df, columns)

/home/vinicios/miniconda3/envs/tweet-collector/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/vinicios/miniconda3/envs/tweet-collector/lib/python3.7/site-packages/pandas/core/frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [205]:
X = pred_df.values
nu_nota_mt = regr.predict(X)

In [213]:
saida_df = test_df.filter(['NU_INSCRICAO'])

saida_df["NU_NOTA_MT"] = nu_nota_mt

saida_df.to_csv("../output/answer.csv", index=None)